#menu{
    display: flex;
    height: auto;
    margin-bottom: 10px;
    background-color: #a2d6ea;
}

#contenedor .principal{
    float: left;
    color: black;
    border-right: 1px solid #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px 10px 25px;
}

#contenedor a:hover{
    font-size: larger;
    font-weight: bold;
    background-color: #1d5e86;
}

#contenedor a.last{
    border-right: 0px;
}

#date{
    line-height: 38px;
    color: #555353;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -1px;
    float: right ;
}