#menu{
    display: flex;
    height: auto;
    margin-bottom: 10px;
    background-color: #ffd739;
}
#contenedor .principal{
    float: left;
    color: rgb(44, 41, 41);
    border-right: 1px solid #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px 10px 25px;
}

#contenedor a:hover{
    font-size: larger;
    font-weight: bold;
    background-color: #f7f3c1;
}

#contenedor a.last{
    border-right: 0px;
}
#date{
    line-height: 38px;
    color: black;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -1px;
    float: right ;
}